<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>Personality knowledge test</h4>
        <ul>
            <li><a href="/homePage">Home Page</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h3 class="display-4">Determined!</h3>

            <img class="image"
                src="https://www.psychologicalscience.org/redesign/wp-content/uploads/2014/01/PAFF_012814_optiontoquitMFB_newsfeature.jpg"
                alt="determined" style="width:40%">

            <p class="lead">You are determined! You consider yourself as capable of doing something as anyone else and
                you like to try things even if you are a bit nervous at first. When you meet new people, you tend to
                keep the conversation going from the start, and you like to know what other people think.</p> <br>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>