<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>Personality knowledge test</h4>
        <ul>
            <li><a href="/homePage">Home Page</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h3 class="display-4">Extrovert!</h3>

            <img class="image" src="https://mejorconsalud.as.com/wp-content/uploads/2017/12/10-beneficios-de-ser-extrovertido.jpg" alt="extrovert"  style="width:40%">

            <p class="lead">Extraversion is a characteristic of people whose interest is focused on the environment and
                the people around them. That is, the external world. They have a great tendency to social relationships
                and communication, making it very easy for them to make new friends.

                They are characterized by being very sociable people who need to be in constant contact with people,
                sharing and doing activities together or simply talking or having a drink. They have a vital
                temperament, they live outwards.</p> <br>

            <h2>Positive qualities</h2> <br>
            <ul>
                <li>This character makes it easier for people to adapt to different environments.</li>
                <li>They are people who convey joy and the will to live.</li>
                <li>They have great social skills and are very effective in jobs that require direct contact with the
                    public.</li>
                <li>They are spontaneous and communicative.</li>
                <li>They have the facility to convey their ideas, goals and projects with enthusiasm and charm.</li>
            </ul>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>