<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>Personality knowledge test</h4>
        <ul>
            <li><a href="/homePage">Home Page</a></li>
            <li><a href="/quiz">Quiz 1</a></li>
            <li><a href="/test">Quiz 2</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h3 class="display-4">Are you an extrovert or an introvert?</h3>
            <p class="lead">You may be one of those who do not know how to be alone or, on the contrary, you do not feel
                any need to make friends. Answer the test, and find out if you are an extrovert or an introvert.
                There are tastes and colors for everyone, and being an extrovert or introvert is also a question of
                character; in addition, it is always possible to adapt to the circumstances of each moment.</p>

            <ul style="list-style-type: square;">
                <li>Read the questions carefully and answer them all. </li>
                <li>Once completed, click on the "Im finished" button
                    at the end of the test so that you can know the result
                    you have obtained.. </li>
                <li>Once the test is finished, a button will appear to know more information about the result obtained.
                    You can also take the test again by clicking the "Restart" button.</li>
            </ul>

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/quiz" role="button">Quiz 1</a>
                <a class="btn btn-primary btn-lg" href="/test" role="button">Quiz 2</a>
            </p>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>