<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>Personality knowledge test</h4>
        <ul>
            <li><a href="/homePage">Home Page</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h3 class="display-4">Introvert!</h3>
            <div class="imageInfo">
                <img class="image" src="https://soyintrovertido.com/wp-content/uploads/2018/07/que-es-introvertido.jpg"
                    alt="introvert" style="width:40%">

            </div>
            <p class="lead">Introversion is a characteristic of people whose interest is oriented in the internal
                attitudes of the person.

                They have more fun with a good read than in a cocktail bar or in a gathering of many people. They prefer
                to stay at home than go out with friends. Although they have few friends, they really enjoy the company
                of the closest ones.

                They are introspective, their interests are mainly focused on their thoughts, emotions and feelings,
                their inner world is a priority for them.</p> <br>

            <h2>Positive qualities</h2> <br>
            <ul>
                <li>They are thoughtful. They think before they act and know clearly what they want.</li>
                <li>They have their own criteria and are not carried away by the opinion of others.</li>
                <li>They have a great sense of responsibility and are very industrious people.</li>
                <li>They like to lead an orderly life. They are calm, it bothers them that someone intervenes in their things or in their way of organizing.</li>
                <li>They have great respect for others. In general, they do not make inappropriate comments.</li>
            </ul>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>