<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>Personality knowledge test</h4>
        <ul>
            <li><a href="/homePage">Home Page</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h3 class="display-4">Shy!</h3>

            <img class="image"
                src="https://ichef.bbci.co.uk/news/640/cpsprodpb/1D60/production/_108102570_socia-phobia.png"
                alt="determined" style="width:40%">

            <p class="lead">You are shy. You tend to worry about what others think of you and try to avoid being the
                center of attention. When you meet new people you get a little nervous and don't talk too much until you
                gain confidence.</p> <br>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>